.App {
  text-align: center;
}

.navigation-layout ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  border-bottom: 5px solid lightblue;
}

.navigation-layout li:first-child {
  padding-left: 100px;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}